.navbar {
  display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.products-container {
  padding: 20px;
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.product-img {
  width: inherit;
  height: 200px;
  object-fit: contain;
}